/**
 *
 * Override Default Elements
 *
 */

html, body {
    margin: 0;
    padding: 0;
}

#footer {
    padding-top: 3em;
}

/**
 *
 * Override Derived Semantic Elements
 *
 */

.ui.main.container {
    padding-top: 2.25em;
    padding-bottom: 3em;
}

.ui.popup .ui.column .ui.header {
    white-space: nowrap;
}
.ui.secondary.pointing.menu a.item:hover {
    background-color: transparent;
    border-color: rgba(34,36,38,.25);
}
.ui.comments {
    max-width: 100%;
}
.ui.comments .comment .avatar img, .ui.comments .comment img.avatar {
    height: auto;
}
.ui.progress .bar {
    min-width: 0;
}
.ui.card .image.crop {
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
}
.ui.card .image.crop img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.ui.card .image.crop img.portrait {
  width: 100%;
  height: auto;
}
.image.rounded.rectangle {
    border-radius: .314rem;
}
.ui.light.grey.labels .label, a.ui.light.grey.label {
    background-color: #efefef !important;
    color: #767676 !important;
}
.ui.light.grey.labels .label:hover, a.ui.light.grey.label:hover {
    background-color: #dedede !important;
    color: #343434 !important;
}

/**
 *
 * Styling for Site Index page
 *
 */

.hello .ui.main.container {
    padding-top: 3em;
}

.introhead {
    background: #2C3141 !important;
    padding: 0em;
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}

.introhead .container {
    text-align: center;
    display: block;
    vertical-align: middle;
    padding: 5rem 0em;
    min-height: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.introduction .header img.logo {
    width: 10em;
}

.introduction .header .title {
    color: #fff;
    font-family: 'Lato';
    font-weight: 100;
    font-size: 96px;
    line-height: 0.75em;
}
.introduction p.subtitle {
    font-family: 'Lato';
    font-size: 1.5em;
    font-weight: 100;
}

.hello .stripe {
    background-color: #FFFFFF;
    padding: 7.5em 0px;
    border-radius: 0em;
    margin: 0em;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hello .alternative.stripe {
    background-color: #F2F3F5;
}

#navigator .ui.menu {
    margin: 0em;
    -webkit-transition: background .2s linear, border .2s linear;
    transition: background .2s linear, border .2s linear;
    border: none;
    box-shadow: none;
    border-radius: 0;
}
#navigator .nav.trigger { display:block;height:3.5rem; }
#navigator .nav.trigger {
    background: #2C3141;
}
#navigator .ui.fixed.menu .item {
    color: #fff;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}
#navigator .ui.light.fixed.menu .item {
    color: #333;
}
#navigator .ui.secondary.fixed.menu a.item:hover {
    background: rgba(255,255,255,.05);
}
#navigator .ui.secondary.light.fixed.menu a.item:hover {
    background: rgba(0,0,0,.05);
}
#navigator .ui.light.fixed.menu,
#navigator .nav.trigger+.ui.light.fixed.menu {
    background: rgba(255,255,255,.9) !important;
}
#navigator .ui.light.fixed.menu {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
}
#navigator .ui.secondary.pointing.menu a.item:not(.brand) {
    padding-bottom: 1.414rem;
}

/**
 *
 * Styling for sub-pages
 *
 */
.main.content {
    padding-top: 1em;
    padding-bottom: 1.5em;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
 
#problem .ui.horizontal.divider {
    padding-top: 2.5rem;
}
#problem .context {
    font-size: medium;
    line-height: 30px;
}
.vhint.tags {
    display: none;
    -webkit-transition: display .2s linear;
    transition: display .2s linear;
}
.vhint.tags.visible {
    display: block;
}
.ui.code.segment {
    background: #f2f2f2;
    /*box-shadow: none;*/
    border: none;
    border-radius: 0;
}
.ui.form.submit {
    margin-top: 1.725em;
}
.ui.grid .column.column-label {
    text-align: right;
    font-weight: bold;
}
.ui.segment .ui.labels {
    line-height: 2.34rem;
}

.solution,
.solution.waiting,
.solution.etc{color:#999;font-weight:normal;}
.solution.accept{color:#1F8C38;font-weight:bold;}
.solution.wrong,
.solution.limit,
.solution.presentation{color:#db2828;}
.solution.compile{color:#2185D0;}
.solution.runtime{color:#f2711c;}
.solution.running{color:#FF9800;}
.solution.unit{color:#db2828;padding-left: 3px;}

.ui.divided.selection.list.result>.item>.label.accept{background-color: rgba(31,140,56,1)!important;border-color: #1F8C38!important;color: #FFF!important;}
.ui.divided.selection.list.result>.item>.label.wrong,
.ui.divided.selection.list.result>.item>.label.limit,
.ui.divided.selection.list.result>.item>.label.presentation{background-color: #E67474!important;border-color: #db2828!important;color: #FFF!important;}
.ui.divided.selection.list.result>.item>.label.compile{background-color: #2185D0!important;border-color: #2185D0!important;color: #FFF!important;}
.ui.divided.selection.list.result>.item>.label.runtime{background-color: #f2711c!important;border-color: #f2711c!important;color: #FFF!important;}
.ui.divided.selection.list.result>.item {color:#666;}

.text-center{text-align: center !important;}
.text-left{text-align: left !important;}
.text-right{text-align: right !important;}

/**
 *
 * Paginator
 *
 */
.ui.horizontal.list.paginator>.item:first-child,
.ui.horizontal.list.paginator>.item:last-child,
.ui.horizontal.list.paginator .item {
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em !important;
    text-transform: none;
    color: rgba(0,0,0,.87);
    font-weight: 400;
    -webkit-transition: background .1s ease,box-shadow .1s ease,color .1s ease;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease;

    border-radius: 5px;
    margin-bottom: 5px;
}
.ui.horizontal.list.paginator .item:hover {
    color: initial;
    background-color: #eee;
}
.ui.horizontal.list.paginator .item.active,
.ui.horizontal.list.paginator .item.active:hover {
    color: #fff;
    background-color: #1678c2;
}
.ui.horizontal.list.paginator>.item {
    margin-left: 0;
}

/**
 *
 * Responsive
 *
 */
@media (max-width: 767px){
    .table.responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }

    .ui.grid .column.column-label {
        text-align: initial;
    }
}