/**
 *
 * Override Default Elements
 *
 */

html, body {
    margin: 0;
    padding: 0;
}

#footer {
    padding-top: 3em;
}

/**
 *
 * Override Derived Semantic Elements
 *
 */

.ui.main.container {
    padding-top: 2.25em;
    padding-bottom: 3em;
}

.ui.popup .ui.column .ui.header {
    white-space: nowrap;
}
.ui.secondary.pointing.menu a.item:hover {
    background-color: transparent;
    border-color: rgba(34,36,38,.25);
}
.ui.comments {
    max-width: 100%;
}
.ui.comments .comment .avatar img, .ui.comments .comment img.avatar {
    height: auto;
}

/**
 *
 * Styling for Site Index page
 *
 */

.hello .ui.main.container {
    padding-top: 3em;
}

.introhead {
    background: #2C3141 !important;
    padding: 0em;
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}

.introhead .container {
    text-align: center;
    display: block;
    vertical-align: middle;
    padding: 5rem 0em;
    min-height: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.introduction .header img.logo {
    width: 10em;
}

.introduction .header .title {
    color: #fff;
    font-family: 'Lato';
    font-weight: 100;
    font-size: 96px;
    line-height: 0.75em;
}
.introduction p.subtitle {
    font-family: 'Lato';
    font-size: 1.5em;
    font-weight: 100;
}

.hello .stripe {
    background-color: #FFFFFF;
    padding: 7.5em 0px;
    border-radius: 0em;
    margin: 0em;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hello .alternative.stripe {
    background-color: #F2F3F5;
}

#navigator .item.logo { padding: 0; }

#navigator .ui.menu {
    margin: 0em;
    -webkit-transition: background .2s linear, border .2s linear;
    transition: background .2s linear, border .2s linear;
}
#navigator .ui.text.menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#navigator .nav.trigger { display:block;height:3.5rem; }
#navigator .ui.text.menu,
#navigator .nav.trigger {
    background: #2C3141;
}
#navigator .ui.text.menu .index.item {
    color: #fff;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}
#navigator.light .ui.text.menu,
#navigator.light .nav.trigger {
    background: rgba(255,255,255,.9) !important;
}
#navigator.light .ui.text.menu {
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
}
#navigator.light .ui.text.menu .index.item {
    color: #000;
}

/**
 *
 * Styling for sub-pages
 *
 */
#problem .ui.horizontal.divider {
    padding-top: 2.5rem;
}
#problem .context {
    font-size: medium;
    line-height: 30px;
}
.vhint.tags {
    display: none;
    -webkit-transition: display .2s linear;
    transition: display .2s linear;
}
.vhint.tags.visible {
    display: block;
}
.ui.code.segment {
    background: #f2f2f2;
    /*box-shadow: none;*/
    border: none;
    border-radius: 0;
}
.ui.form.submit {
    margin-top: 1.725em;
}
.ui.grid .column.column-label {
    text-align: right;
    font-weight: bold;
}

.solution,
.solution.waiting,
.solution.etc{color:#999;font-weight:normal;}
.solution.accept{color:#1F8C38;font-weight:bold;}
.solution.wrong,
.solution.limit,
.solution.presentation{color:#db2828;}
.solution.compile{color:#2185D0;}
.solution.runtime{color:#f2711c;}
.solution.unit{color:#db2828;padding-left: 3px;}

/**
 *
 * Responsive
 *
 */
@media (max-width: 767px){
    .table.responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }

    .ui.grid .column.column-label {
        text-align: initial;
    }
}